
{% extends 'base.html' %}

{% block content %}

<div class="col-6">
    <form action="/story">
        <p class="lead">Customize Your Story:</p>

        {% for prompt in prompts %}
            <div class="form-floating mb-3">
                <input type="text" name="{{prompt}}" class="form-control" id="{{prompt}}" placeholder="{{prompt}}">
                <label for="{{prompt}}">{{prompt}}</label>
            </div>
        {%endfor%}
        
        <div class="d-grid gap-2 col-6 mx-auto">
            <button type="submit" class="btn btn-primary btn-lg">Make Your Story!</button>
        </div>       
    </form>
</div>

{% endblock %}
